name: size
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: preactjs/compressed-size-action@v2.0.1
      with:
        pattern: 'build/*.js'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
